HOST=localhost
PORT=1433
HTTP_PORT=8080
USER=replace_with_sql_user
PASSWORD=replace_with_sql_password
DATABASE=CTS_DEV
SELLER_NAME=Syncline Consumer Goods Trading
SELLER_ADDRESS=402-E Marigold Street Lakeview Homes 1, Putatan Muntinlupa City
SELLER_EMAIL=syncline.mae@gmail.com
SELLER_PHONE=63 927 670 7281
PDF_FONT_PATH=/usr/share/fonts/truetype/dejavu/DejaVuSans.ttf
SELLER_LOGO_PATH=files/syncline-logo.png
